/* Needed to make theme apply for the whole page */
html{
    height:100%;
}

body {
    background: radial-gradient(#fff,#ffd6d6);
    font-family: 'Poppins',sans-serif;
    /* Also needed */
    min-height: 100%;
}


/* Nav_Bar */
.nav_bar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    justify-content: flex-end;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    gap: 10rem;
    margin-right: 20px;
    font-size: x-large;
    transition: 0.6s ease-in;
}

nav ul li:hover {
    color: black;
    filter: brightness(5%);
}


a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

#landing_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: darkslategray;
}


#info_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
    border: 0.5rem solid darkslategray;
    border-radius: 20px;
    margin: 5rem 5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,03);
}

#member_list_header {
    list-style-type: none;
    font-size: xx-large;
    color: darkslategray;
    margin-bottom: 3rem;
}

#aims_header {
    list-style-type: none;
    font-size: xx-large;
    color: darkslategray;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 715px) {
    #info_container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: medium;
        border: 0.1rem solid darkslategray;
        border-radius: 20px;
        margin: 0.2rem 0.2rem;
        box-shadow: 0 5px 15px rgba(0,0,0,03);
        flex-wrap: wrap;
        flex: 1;
    }

    #member_list_header {
        list-style-type: none;
        font-size: large;
        color: darkslategray;
        margin-bottom: 1rem;
    }

}

#landing_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkslategray;
    color: white;
    font-size: x-large;
    padding: 25px 40px;
    margin: 30px 0;
    border-radius: 30px;
    cursor: pointer;
    transition: backround 1.5s ease-in, color 0.5s ease-in;
    box-shadow: 0 5px 15px rgba(0,0,0,01);
}

/* Hovering over The Button */
#landing_button:hover {
    background: radial-gradient(darkslategray, darkgray);
    color: lightgray;
}

.twitter-timeline {
    margin: 2rem 2rem;
    border-radius: 5rem;
}


/* APP HTML */
#pirateIcon {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

#codeCyprus {
    color: darkslategray;
    margin-right: 2rem;
}

#app_header {
    background-color: grey;
}

#app_nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#treasurehuntList {
    list-style-type: none;
}

#treasurehuntList li {
    display: flex;
    cursor: pointer;
    border: 1px solid black;
    padding: 25px;
    text-align: center;
    margin: 5rem 5rem;
    background: radial-gradient(darkslategray, darkgray);
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,03);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 480px) {
    #treasurehuntList li {
        display: flex;
        cursor: pointer;
        border: 1px solid black;
        padding: 20px;
        text-align: center;
        margin: 3rem 3rem;
        background: radial-gradient(darkslategray, darkgray);
        color: white;
        box-shadow: 0 5px 15px rgba(0,0,0,03);
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        row-gap: 4rem;
    }
    #info_container {
        margin-bottom: 2rem;
    }
}


#treasurehuntList li:hover {
    color: white;
    filter: brightness(90%);
}


#refresh {
    text-decoration: none;
    font-size: x-large;
    transition: 0.6s ease-in;
}

#refresh:hover {
    color: #555;
    filter: drop-shadow(0 2px 7px rgba(2, 4, 4, 2));
}

.inactive {
    opacity: 50%;
}

/* HELP PAGE */

#Help_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Help_text {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border: 0.3rem solid rgb(37,59,59);
    border-radius: 4rem;
    padding: 2rem 2rem;
    margin-right: 2rem;
    font-size: x-large;
    color: rgb(37,59,59);
}

/* LEADERBOARD PAGE */
#leaderboardTitle {
    color: darkslategray;
}

#test-results-table, th {
    border: 1px solid;
    color: darkslategray;
}

/* LOGIN */
#login_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex: 1;
    flex-wrap: wrap;
    font-size: xx-large;
}

#login_name {
    font-size: x-large;
    filter: drop-shadow(0 0px 1px rgba(1, 2, 2, 2));
}

@media only screen and (max-width: 431px) {
    #login_name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        font-size: xx-large;
        margin-top: 5rem;

    }
    #name {
        padding: 0.18rem 0.18rem;
        flex: 1;
        box-shadow: 0 1px 4px rgba(0,0,0,01);
        font-size: x-large;
        margin-left: 1rem;
    }
    #submitTypeContainer {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}

#name {
    padding: 0.18rem 0.18rem;
    flex: 1;
    box-shadow: 0 1px 4px rgba(0,0,0,01);
    font-size: x-large;
    margin-left: 1rem;
    margin-top: 2rem;
}

#login_submit_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkslategray;
    color: white;
    font-size: x-large;
    padding: 15px 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: backround 1.5s ease-in, color 0.5s ease-in;
    box-shadow: 0 4px 13px rgba(0,0,0,01);
    margin-left: 8rem;
    margin-top: 0.7rem;
}

#login_submit_button:hover {
    background: radial-gradient(darkslategray, darkgray);
    color: lightgray;
}


/* TREASURE HUNT PAGE */
#skip {
    font-size: x-large;
    cursor: pointer;
    border: 1px solid darkgray;
    border-radius: 25px;
    box-shadow: 0 4px 13px rgba(0,0,0,01);
    padding: 8px 22px;
    transition: backround 1.5s ease-in, color 0.5s ease-in;
}
#score {
    font-size: xx-large;
    position:absolute;
    bottom: 0px;
}

#skip:hover {
    color: black;
    filter: brightness(5%);
}

/* questions */

/* QUESTION CONTAINER */
#questionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    margin-top: 4rem;
    margin-bottom: 3rem;
    flex: 1;
}


/* SUBMIT TYPE AND ANSWER FIELD */
#submitTypeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#answerField {
    display: flex;
    flex-wrap: wrap;
    padding: 0.4rem 0.7rem;
    font-size: x-large;
}

#buttonSubmit {
    justify-content: center;
    align-items: center;
    background: darkslategray;
    color: white;
    font-size: x-large;
    padding: 12px 15px;
    border-radius: 32px;
    cursor: pointer;
    transition: backround 1.5s ease-in, color 0.5s ease-in;
    box-shadow: 0 4px 13px rgba(0,0,0,01);
}
#buttonSubmit:hover {
    background: radial-gradient(darkslategray, darkgray);
    color: lightgray;
}

/* TRUE FALSE QUESTION */
#trueFalseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

#buttonFalse {
    font-size: xxx-large;
    padding: 0.4rem 0.4rem;
    background: darkslategray;
    color: white;
    border-radius: 20rem;
    transition: backround 1.5s ease-in, color 0.5s ease-in;
    box-shadow: 0 4px 13px rgba(0,0,0,01);
}

#buttonFalse:hover {
    color: white;
    filter: brightness(80%);
}

#buttonTrue {
    font-size: xxx-large;
    padding: 0.4rem 0.4rem;
    background: darkslategray;
    color: white;
    border-radius: 20rem;
    transition: backround 1.5s ease-in, color 0.5s ease-in;
    box-shadow: 0 4px 13px rgba(0,0,0,01);
}

#buttonTrue:hover {
    color: white;
    filter: brightness(80%);
}

/* Multiple Question */
#multipleQuestionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

#multipleQuestionContainer > * {
    font-size: xxx-large;
    padding: 1.1rem 1.1rem;
    background: darkslategray;
    color: white;
    border-radius: 20rem;
    transition: backround 1.5s ease-in, color 0.5s ease-in;
    box-shadow: 0 4px 13px rgba(0,0,0,01);
}

@media only screen and (max-width: 800px) {
    #multipleQuestionContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    #multipleQuestionContainer > * {
        font-size: xxx-large;
        padding: 0.8rem 0.8rem;
        background: darkslategray;
        color: white;
        border-radius: 20rem;
        transition: backround 1.5s ease-in, color 0.5s ease-in;
        box-shadow: 0 4px 13px rgba(0,0,0,01);
    }
}

#multipleQuestionContainer > *:hover {
    border: solid black 2px;
    font-size: xxx-large;
    color: white;
    filter: brightness(90%);
}

/* LEADERBOARD */

#leaderboardScore {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#completionTime {
    display: flex;
    align-items: center;
    justify-content: center;

}
#data {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}


#data > * {
    width: 100%;
    display: flex;
    flex: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    padding: 2rem 2rem;
}

#test-results-table {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}





