body {
    background: radial-gradient(#fff,#ffd6d6);
    font-family: 'Poppins',sans-serif;
}


/* Nav_Bar */
.nav_bar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    justify-content: flex-end;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    gap: 10rem;
    margin-right: 20px;
    font-size: x-large;
    transition: 0.6s ease-in;
}

nav ul li:hover {
    color: black;
    filter: drop-shadow( 0 2px 7px rgba(2,4,4,2));
}


a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

#landing_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: darkslategray;
}


#info_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
    border: 0.5rem solid darkslategray;
    border-radius: 20px;
    margin: 5rem 5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,03);
}

#member_list_header {
    list-style-type: none;
    font-size: xx-large;
    color: darkslategray;
    margin-bottom: 3rem;
}

#aims_header {
    list-style-type: none;
    font-size: xx-large;
    color: darkslategray;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 715px) {
    #info_container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: medium;
        border: 0.1rem solid darkslategray;
        border-radius: 20px;
        margin: 0.2rem 0.2rem;
        box-shadow: 0 5px 15px rgba(0,0,0,03);
        flex-wrap: wrap;
        flex: 1;
    }

    #member_list_header {
        list-style-type: none;
        font-size: large;
        color: darkslategray;
        margin-bottom: 1rem;
    }

}

#landing_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkslategray;
    color: white;
    font-size: x-large;
    padding: 25px 40px;
    margin: 30px 0;
    border-radius: 30px;
    cursor: pointer;
    transition: backround 1.5s ease-in, color 0.5s ease-in;
    box-shadow: 0 5px 15px rgba(0,0,0,01);
}

/* Hovering over The Button */
#landing_button:hover {
    background: radial-gradient(darkslategray, darkgray);
    color: lightgray;
}

.twitter-timeline {
    margin: 2rem 2rem;
    border-radius: 5rem;
}


/* APP HTML */
#pirateIcon {
    width: 60px;
    margin-right: 10px;
}

#codeCyprus {
    color: darkslategray;
}

#app_header {
    background-color: grey;
}

#app_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#treasurehuntList {
    list-style-type: none;
}

#treasurehuntList li {
    display: flex;
    cursor: pointer;
    border: 1px solid black;
    padding: 25px;
    text-align: center;
    margin: 5rem 5rem;
    background: radial-gradient(darkslategray, darkgray);
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,03);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

/* #treasurehuntList li:hover {
    background: radial-gradient(darkslategray, darkgray);
}*/

#refresh {
    text-decoration: none;
    font-size: x-large;
    transition: 0.6s ease-in;
}

#refresh:hover {
    color: #555;
    filter: drop-shadow(0 2px 7px rgba(2, 4, 4, 2));
}

.inactive {
    opacity: 50%;
}

/* HELP PAGE */

#Help_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Help_text {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border: 0.3rem solid rgb(37,59,59);
    border-radius: 4rem;
    padding: 2rem 2rem;
    margin-left: 2rem;
    font-size: x-large;
    color: rgb(37,59,59);
}

/* LEADERBOARD PAGE */
#leaderboardTitle {
    color: darkslategray;
}

#test-results-table, th {
    border: 1px solid;
    color: darkslategray;
}

